.footer {
  bottom: 0;
  padding: 19px 0px 20px;
  position: absolute;
  width:1400px;
  margin-left:auto;
  margin-right: auto;
  color:  #98a6ad;
  background-color: #282936;
  box-shadow: 0 0 1px rgba(50,58,70,.1);
}
